.DS_Store
.idea
__pycache__

# The large (20GB) test dataset files
test_set.csv
test_set_metadata.csv
test_set_sample.csv
sample_submission.csv
data.npy

# Training Folders
Graham-XPS-Ubuntu
daniil-XPS-15-9550
